@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@layer base {
    body {
        @apply bg-black scrollbar-hide;
    }
}

@layer components {
    .sidebarIcon {
        @apply h-6 text-[#808080] cursor-pointer;
    }
    .tag {
        @apply py-1.5 px-3 text-[#cecece] bg-[#282828] rounded-xl text-xs font-bold border-2 border-[#484848]
    }
    .genre {
        @apply bg-[#101010] text-[#CECECE] border border-[#484848] rounded-xl py-2.5 px-3.5 text-[11px] font-bold cursor-default;
    }
    .btn {
        @apply text-[#CECECE] bg-[#1A1A1A] text-[13px] py-3.5 px-4 rounded-2xl w-full font-bold transition ease-out
    }
    .icon {
        @apply transition-all duration-150 ease-out;
    }
}